#set($subject = "📴 $device.name sin señal")
#set($digest = "Tu vehículo perdió conexión a las $dateTool.format('HH:mm', $event.eventTime, $locale, $timezone)")
<!DOCTYPE html>
<html>
<body>
Dispositivo: $esc.html($device.name)<br>
Desconectado<br>
Hora: $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)<br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Cancelar suscripción</a>
</body>
</html>
